{% extends 'hod_base.html' %}

{% load static %}

{% block title %}
        Add New Unit || FAAN
{% endblock %}

{% block content %}

<div class="main-content">
    <section class="section">
      <div class="section-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4>Add a New Unit</h4>
              </div>
              
              <form method="POST" class="card-body" novalidate="">
                {% csrf_token %}
                <div class="card-body">
                    <!-- Unit Name Input -->
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Unit Name</label>
                        <div class="col-sm-12 col-md-7">
                            <input type="text" name="unit_name" class="form-control">
                        </div>
                    </div>
              
                    <!-- Terminal Selection -->
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Terminal</label>
                        <div class="col-sm-12 col-md-7">
                          <select name="terminal_id" class="form-control">
                            <option value="" selected>Please select</option>
                            {% for terminal in terminals %}
                                <option value="{{ terminal.id }}">{{ terminal.name }}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Unit Head</label>
                      <div class="col-sm-12 col-md-7">
                        <select name="unit_head" class="form-control">
                          <option value="" selected>Please select</option>
                          {% for user in department_users %}
                              <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                  </div>
              
                    <!-- Submit Button -->
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                        <div class="col-sm-12 col-md-7">
                            <button type="submit" class="btn btn-primary">Create Unit</button>
                        </div>
                    </div>
                </div>
              </form>
              

            
            

            </div>
          </div>
        </div>
      </div>
    </section>
  
  </div>




 
{% endblock %}
