{% extends 'hod_base.html' %}

{% load static %}

{% block title %}
        HOD Dashboard || FAAN JOBLOG
{% endblock %}

{% block content %}




<div class="main-content">
  <section class="section">

    <div class="row "> 
        <h4 class="ml-3">Dear HOD, Welcome To FAAN {{ hod.department.name }} </h4>
  </div>

    <div class="row ">
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <h5 class="font-15">Total Terminals</h5>
                    <h2 class="mb-3 font-18">{{ total_terminals }}</h2>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="{% static 'assets/img/banner/1.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <h5 class="font-15"> Total Units</h5>
                    <h2 class="mb-3 font-18">{{ total_units }}</h2>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="{% static 'assets/img/banner/2.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <h5 class="font-15">Total Users</h5>
                    <h2 class="mb-3 font-18">{{ total_users }}</h2>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="{% static 'assets/img/banner/4.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- 
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                  <div class="card-content">
                    <h5 class="font-15">View Logs</h5>
                    <h2 class="mb-3 font-18">128</h2>
                  
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <div class="banner-img">
                    <img src="{% static 'assets/img/banner/3.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
   


    <div class="row"> 
      <h4 class="ml-3">Terminals</h4>
  </div>
  
  {% if terminals %}
  <div class="row">
      {% for terminal in terminals %}
      <div class="col-12 col-sm-12 col-lg-4">
          <div class="card">
              <div class="card-header">
                  <h4>{{ terminal.name }} Terminal</h4>
              </div>
              <div class="card-body">
                  <h6 class="m-4">Terminal Head:
                      {% if terminal.terminal_head %}
                      {{ terminal.terminal_head.first_name }} {{ terminal.terminal_head.last_name }}
                      {% else %}
                      No Terminal Head assigned
                      {% endif %}
                  </h6>
                  <h6 class="m-4">Num Of Units: {{ terminal.num_units }} </h6>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
  {% else %}
  <p>No terminals found.</p>
  {% endif %}
  

    


  </section>

</div>


{% endblock %}