{% load static %}


<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Reset Password || Bwave ICT</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bundles/bootstrap-social/bootstrap-social.css' %}">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'assets/img/favicon.ico' %} "/>
  
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/assets/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/assets/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/assets/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/assets/favicon_io/site.webmanifest' %}">
  </head>

<body>
  <div class="loader"></div>
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="card card-primary">
              <div class="card-header">
                <h4>Please Input the verification Code</h4>
              </div>
              <div class="card-body">
                <p class="text-muted">We will send a link to reset your password</p>
                <form method="POST">
                  <div class="form-group">
                    <label for="code">Verification Code</label>
                    <input id="code" type="number" class="form-control" name="email" tabindex="1" required autofocus>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                        Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


  <!-- -->

        <!-- Add SweetAlert CDN link in your base template -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://smtpjs/v3/smtp.js"></script>
    
        <script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
    
    
    <!-- JavaScript code for flash messages -->
    <script>
        {% if messages %}
            {% for message in messages %}
                // Customize SweetAlert appearance based on message tags
                let icon = 'info';  // Default icon for info messages
    
                // Change icon based on message tags
                {% if message.tags == 'success' %}
                    icon = 'success';
                {% elif message.tags == 'warning' %}
                    icon = 'warning';
                {% elif message.tags == 'error' %}
                    icon = 'error';
                {% endif %}
    
                // Display SweetAlert pop-up with countdown timer
                Swal.fire({
                    icon: icon,
                    title: "{{ message.tags|title }}",
                    text: "{{ message }}",
                    timer: 10000,  
                    timerProgressBar: true,
                    showConfirmButton: false,
                    didOpen: () => {
                        // Show countdown timer progress bar
                        const timer = Swal.getTimerProgressBar()
                        timer.classList.add('swal-progress-bar')
                    }
                });
            {% endfor %}
        {% endif %}
    </script>

  <!--  -->
  <!-- General JS Scripts -->
  <script src="{% static 'assets/js/app.min.js' %}"></script>
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <!-- Custom JS File -->
  <script src="{% static 'assets/js/custom.js' %}"></script>
</body>


<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->
</html>




